<!-- <h3>angular class</h3> -->
<!-- interpolation -->
<!-- <h2>{{2+3}}</h2> -->
<!-- property binding -->
<!-- <input type="text" [value]="val"> -->
<!-- style binding -->
<!-- <h3 [style.color]="isSpecial?c1:c2">Data Binding</h3> -->
<!-- <p [class]="ispara?'para1':'para2'">class binding</p> -->
<!-- attribute binding -->
<!-- <table border="2px solid" rules="all"> -->
    <!-- <tr> -->
        <!-- <th [attr.colspan]="colval">Person</th> -->
    <!-- </tr> -->
    <!-- <tr> -->
        <!-- <td>Virat</td> -->
        <!-- <td>Kohli</td> -->
    <!-- </tr> -->
    <!-- <tr> -->
        <!-- <td>Rohith</td> -->
        <!-- <td>sharma</td> -->
    <!-- </tr> -->
<!-- </table> -->
<button (click)="display()">click me</button>

<!-- 2way data binding -->
<!-- <input type="text" [(ngModel)]="displayResult"> -->
<!-- <h3>{{displayResult}}</h3> - -->
<!-- <app-login [valueChild]="val"></app-login> -->
<app-parent></app-parent>